# Crontab format:
# .---------- minute (0-59)
# | .-------- hour (0-23)
# | | .------ day of month (1-31)
# | | | .---- month (1-12 / jan,feb,mar,apr,may,jun,jul,aug,sept,oct,nov,dec)
# | | | | .-- day of week (0-6 / sun,mon,tue,wed,thu,fri,sat)
# | | | | |
# * * * * * command [args...]

# Schedule the phpBB S3 backup:
{{BACKUP_SCHEDULE}} log phpbb-s3-backup

# Schedule the phpBB auto-update:
{{UPDATE_SCHEDULE}} log phpbb-auto-update
